<div div [hidden]="emptyList">
    <ul class="list-group">
        <li class="simple-list-item" *ngFor="let contact of contacts">
            <div class="dark-div">
                <div *ngIf="contact.secondPerson.id==userId">
                    <app-showcase-display [userId]=contact.firstPerson.id></app-showcase-display>
                    <a class="title-link-white" [routerLink]="['/users/details/', contact.firstPerson.id]">
                        Zobacz profil
                    </a>
                </div>
                <div *ngIf="contact.firstPerson.id==userId">
                    <app-showcase-display [userId]=contact.secondPerson.id></app-showcase-display>
                    <a class="title-link-white" [routerLink]="['/users/details/', contact.secondPerson.id]">
                        Zobacz profil
                    </a>
                </div>
                <br/>
            </div>
        </li>
    </ul>
</div>