<form name="form" #form="ngForm" (ngSubmit)="submit()" novalidate>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="eventForm.title" name="title" #title="ngModel" [ngClass]="{ 'is-invalid': form.submitted && title.invalid }"
      required minlength="6">
    <show-errors class="invalid-feedback" [control]="title"></show-errors>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" required [(ngModel)]="eventForm.description" name="description"
      #description="ngModel" [ngClass]="{ 'is-invalid': form.submitted && description.invalid }">
    <show-errors class="invalid-feedback" [control]="description"></show-errors>
  </div>

  <div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="localization">Localization</label>
          <input type="text" class="form-control" id="localization" required [(ngModel)]="eventForm.localization" name="localization"
            #localization="ngModel" [ngClass]="{ 'is-invalid': form.submitted && localization.invalid }">
          <show-errors class="invalid-feedback" [control]="localization"></show-errors>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="url">
          <label for="siteUrl">Site URL</label>
          <input type="url" class="form-control" [(ngModel)]="eventForm.siteUrl" name="siteUrl" id="siteUrl">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-xs-4">
        <div class="md-form">
          <label for="input">Choose start date</label>
          <input type="datetime-local" id="tmpStartDateTime" class="form-control" [ngModel]="tmpStartDateTime | date:'yyyy-MM-ddTHH:mm'"
            (ngModelChange)="tmpStartDateTime = $event" name="tmpStartDateTime" mdbInput>
        </div>
        <br/>
      </div>
      <div class="col-xs-4">
        <div class="md-form">
          <label for="input">Choose end date</label>
          <input type="datetime-local" id="tmpEndDateTime" class="form-control" [ngModel]="tmpEndDateTime | date:'yyyy-MM-ddTHH:mm'"
            (ngModelChange)="tmpEndDateTime = $event" name="tmpEndDateTime" mdbInput>
        </div>
        <br/>
      </div>
      <div class="col-xs-4">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="common" [(ngModel)]="eventForm.common" name="common">
          <label class="form-check-label" for="common">Common event</label>
          <hr/>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="continous" [(ngModel)]="eventForm.continous" name="continous">
          <label class="form-check-label" for="continous">Continous event</label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p style="font-weight: bolder;">
      Costs
    </p>

    <div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Cost</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cost of eventForm.costs">
            <td>{{cost.name}}</td>
            <td>{{cost.description}}</td>
            <td>{{cost.price}} {{ cost.currency}}</td>
            <td>
              <button class="btn btn-danger" (click)="removeCost(cost)">Remove cost</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ngModelGroup="costs">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label for="costName">Cost title</label>
            <input type="text" class="form-control" id="costName" [(ngModel)]="costForm.name" name="costName">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="costDescription">Cost description</label>
            <input type="text" class="form-control" id="costDescription" [(ngModel)]="costForm.description" name="costDescription">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="costPrice">Price</label>
            <input type="number" class="form-control" id="costPrice" [(ngModel)]="costForm.price" name="costPrice">
          </div>
        </div>
      </div>
      <button class="btn btn-info" type="button" (click)="addCost();  form.control.markAsTouched();">Add cost</button>
    </div>
  </div>
  <hr/>

  <div class="form-group">
    <label for="selectedCategories">Categories</label>
    <ng-multiselect-dropdown-angular7 id="selectedCategories" name="selectedCategories" [placeholder]="'Select categories'" [data]="categories"
      [(ngModel)]="selectedCategories" [settings]="dropdownSettings">
    </ng-multiselect-dropdown-angular7>
  </div>
  <hr/>
  <show-errors [control]="form"></show-errors>


  <button [disabled]="form.invalid || form.pending" type="submit" class="btn btn-success">Submit</button>

  <div *ngIf="isUpdateFailed" class="alert alert-danger">
    Update failed: {{errorMessage}}
</div>
</form>
