{{errorMessage}}
<div *ngIf="areNotConfirmedEventsShown">
        <button class="btn btn-primary" (click)=hideNotConfirmedEvents()>Zwiń</button>
        <app-events-list [areEventsNotConfirmed]="true" [isDisplayOnly]="false"></app-events-list>
</div>
<button *ngIf="!areNotConfirmedEventsShown" class="btn btn-primary" (click)=showNotConfirmedEvents()>Pokaż wydarzenia do zatwierdzenia</button>
<hr/>

<div *ngIf="arePublishedEventsShown">
        <button class="btn btn-primary" (click)=hidePublishedEvents()>Zwiń</button>
        <app-events-list [areEventsNotConfirmed]="false" [isDisplayOnly]="false"></app-events-list>
</div>
<button *ngIf="!arePublishedEventsShown" class="btn btn-primary" (click)=showPublishedEvents()>Pokaż opublikowane wydarzenia</button>
<hr/>

<div *ngIf="areCategoriesShown">
        <button class="btn btn-primary" (click)=hideCategories()>Zwiń</button>
        <app-categories-list></app-categories-list>
</div>
<button *ngIf="!areCategoriesShown" class="btn btn-primary" (click)=showCategories()>Zarządzaj kategoriami</button>
<hr/>


<div *ngIf="areUsersShown">
        <button class="btn btn-primary" (click)=hideUsers()>Zwiń</button>
        <app-users-list></app-users-list>
</div>
<button *ngIf="!areUsersShown" class="btn btn-primary" (click)=showUsers()>Zarządzaj użytkownikami</button>
<hr/>