<div *ngIf="authority">
  <p>
    <button class="btn btn-block" routerLink="/events/add">Create Event</button>
    <!-- <a routerLink="/events/add" class="nav-link" routerLinkActive="active">Create Event</a> -->
  </p>
</div>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let event of events">
    <div ng-click="">
      <a class="title-link" [routerLink]="['/events/details/', event.id]">
        {{event.title}}
      </a>
      <br/>
      <p style="color: #364D57">
        {{event.description}}
      </p>
    </div>
  </li>
</ul>