<div div [hidden]="emptyList">

    <ul class="list-group">
        <li class="simple-list-item" *ngFor="let eventOffer of eventOffers">
            <div class="dark-div">
                <app-showcase-display [userId]=eventOffer.ownerId></app-showcase-display>
                <br/>
                <div style="display:flex; flex-direction: row; justify-content: left; align-items: left">
                    <div class="showcase-label">
                        Szuka:&nbsp;&nbsp;
                    </div>
                    <div class="showcase-value" *ngIf="eventOffer.prefferedGender === 'BOTH'">
                        Kobiet lub mężczyzn&nbsp;
                    </div>
                    <div class="showcase-value" *ngIf="eventOffer.prefferedGender === 'MALE'">
                        Mężczyzn&nbsp;
                    </div>
                    <div class="showcase-value" *ngIf="eventOffer.prefferedGender === 'FEMALE'">
                        Kobiet&nbsp;
                    </div>
                    <div class="showcase-value">
                        w wieku {{ eventOffer.prefferedMinAge }} - {{ eventOffer.prfferedMaxAge }} lat
                    </div>
                </div>
                <div *ngIf="eventOffer.description" style="display:flex; flex-direction: row; justify-content: left; align-items: left">
                    <div class="showcase-label">
                        Dodatkowe informacje:&nbsp;&nbsp;
                    </div>
                    <div class="showcase-value">
                        {{ eventOffer.description}}
                    </div>
                </div>
                <div *ngIf="!userOffers">
                    <button class="btn btn-info" (click)=createContact(eventOffer)>Zgołoś się</button>
                    <br/>
                    <div *ngIf="isSuccess" class="alert alert-success">
                        {{successMessage}}
                        <br/>
                        <a class="title-link" [routerLink]="['/users/details/', eventOffer.ownerId]">
                            Zobacz profil
                        </a>
                    </div>
                    <div *ngIf="isError" class="alert alert-danger">
                        {{errorMessage}}
                    </div>
                </div>
                <div *ngIf="userOffers">
                    <button (click)="deleteEventOffer(eventOffer)" class="btn btn-danger">Usuń</button>
                    <div *ngIf="isDeleteEventOffferFailed" class="alert alert-danger">
                        Nie można usunąć oferty: {{deleteEventOfferErrorMessage}}
                    </div>
                    <br/>
                   <!--  <div *ngIf="isDeleteEventOffferSuccess" class="alert alert-success">
                        {{successMessage}}
                    </div> -->
                </div>
            </div>
        </li>
    </ul>
</div>