<div div [hidden]="emptyList" class="nested-div">

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let eventOffer of eventOffers">
          <div >
              <p class="label-details">#todo ta osoba szuka:</p>
              <p class="text-details" *ngIf="eventOffer.prefferedGender === 'BOTH'">Kobiet lub mężczyzn</p>
              <p class="text-details">W wieku między {{ eventOffer.prefferedMinAge }} a {{ eventOffer.prfferedMaxAge }} lat</p>
              

          <button class = "btn btn-info" >Zgołoś się</button>
            
          </div>
        </li>
      </ul>
</div>
