<p>
  categories-list works!
</p>
<form name="form" #form="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="row">
    <div class="col-xs-3">
        <div class="form-group">
            <label for="code">Kod</label>
            <input type="text" class="form-control" id="code" [(ngModel)]="categoryForm.code" name="code" #code="ngModel" [ngClass]="{ 'is-invalid': form.submitted && code.invalid }"
              required minlength="3">
            <show-errors class="invalid-feedback" [control]="code"></show-errors>
          </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label for="name">Nazwa</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="categoryForm.name" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': form.submitted && name.invalid }"
              required minlength="3">
            <show-errors class="invalid-feedback" [control]="name"></show-errors>
          </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="categoryForm.description" name="description" #description="ngModel" [ngClass]="{ 'is-invalid': form.submitted && description.invalid }"
              required minlength="3">
            <show-errors class="invalid-feedback" [control]="description"></show-errors>
          </div>
    </div>
    <div class="col-xs-3">
        <button [disabled]="form.invalid || form.pending" type="submit" class="btn btn-success">Zatwierdź kategorię</button>
    </div>
  </div>
</form>
{{errorMessage}}
<ul class="list-group">
  <li class="list-group-item" *ngFor="let category of categories">
    <div class="row">
      <div class="col-xs-10">
        <div ng-click="">
          <a class="title-link">
            {{category.code}}
          </a>
          <br/>
          <p style="color: rgb(156, 186, 199)">
            {{category.name}}
          </p>
          <p style="color: #364D57">
            {{category.description}}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <button (click)="deleteCategory(category.id)" class="btn btn-danger">Usuń</button>
      <!--   <button [routerLink]="['/category/edit/', category.id]" class="btn btn-primary">Edytuj</button> -->
      </div>
    </div>

  </li>
</ul>