<div>
  <p class="title-details">{{event?.title}}</p>
  <div style="white-space: pre-wrap">
    <p class="text-details ">{{event?.description}}</p>
  </div>

  <hr/>
  <p class="label-details">Gdzie?</p>
  <p class="text-details">{{event?.localization}}</p>
  <p class="label-details">Kiedy?</p>
  <p class="text-details">{{startDateString}} - {{endDateString}}</p>
  <p class="label-details">Rodzaj wydarzenia</p>

  <p class="text-details" *ngIf="event?.common">Publiczne</p>
  <p class="text-details" *ngIf="!event?.common">Prywatne</p>
  <p class="text-details" *ngIf="event?.continous">Ciągłe</p>
  <p class="text-details" *ngIf="!event?.continous">Jednorazowe</p>

  <div *ngIf="event?.costs.length > 0">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Bilet</th>
          <th scope="col">Opis</th>
          <th scope="col">Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cost of event?.costs">
          <td>{{cost.name}}</td>
          <td>{{cost.description}}</td>
          <td>{{cost.price}} {{ cost.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="event?.categories.length > 0">
    <p class="label-details">Kategorie</p>
    <div *ngFor="let category of event?.categories">
      <p class="text-details"># {{category.name}}</p>
    </div>
  </div>
</div>
<br/>

<div *ngIf="authority && event?.common">
  <div *ngIf="authority !== 'admin'">
    <app-event-offer-create  [continous]="event.continous" ></app-event-offer-create>
  </div>
  <br/>
  <app-event-offer-list></app-event-offer-list>
</div>


<div *ngIf="authority && !event?.common">
  <p class="label-details">Kto szuka?</p>
  <app-showcase-display [userId]="event.reporterId"></app-showcase-display>
  <br/>
  <button *ngIf="authority !== 'admin'" class="btn btn-block" (click)=createContact(event)>Zgołoś się</button>
  <br/>
  <div *ngIf="isSuccess" class="alert alert-success">
    {{successMessage}}
    <br/>
    <a class="title-link" [routerLink]="['/users/details/', event.reporterId]">
      Zobacz profil
    </a>
  </div>
  <div *ngIf="isCreateContactFailed" class="alert alert-danger">
    Nie można nawiązać kontaktu: {{errorCreateContact}}
  </div>
</div>

<!-- <li *ngIf="authority === 'admin'" class="nav-item">
  <a (click)="deleteEvent(event.id)" class="btn btn-danger">Delete</a>
</li> -->


<div *ngIf="authority === 'admin'">
  <button class="btn btn-danger" (click)="deleteEvent(event.id)">
    Usuń wydarzenie
  </button>
  <br/>
  <div *ngIf="isDeleteFailed" class="alert alert-danger">
    Nie można usunąć wydarzenia: {{errorMessage}}
  </div>
  <!-- <button class="btn btn-info" (click)="router.navigate(['/events/edit/', event?.id]);">
      Edytuj wydarzenie
    </button> -->
  <button *ngIf="isEventNotConfirmed" (click)="confirmEvent(event)" class="btn btn-success">
    Zatwierdź
  </button>
  <br/>
  <div *ngIf="isSuccess" class="alert alert-success">
    {{successMessage}}
  </div>
</div>