<div *ngIf="isError" class="alert alert-danger">
  Wystąpił problem: {{errorMessage}}
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="form-group">
      <label class="label-details" for="input">Nazwa użytkownika</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="searchForm.username" name="username" placeholder="Nazwa użytkownika">
    </div>
  </div>
  <div class="col-xs-5">
    <div class="form-group">
      <label class="label-details" for="input">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="searchForm.email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="col-xs-2">
    <div class="form-group">
      <button class="btn btn-block" (click)=loadUsers()>Szukaj</button>
      <button class="btn btn-block" (click)=clearFilters()>Wyczyść</button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let user of users | paginate: config ">
    <div class="row">
      <div class="col-xs-10">
        <div ng-click="">
          <a class="title-link" [routerLink]="['/users/details/', user.id]">
            {{user.username}}
          </a>
          <br/>
          <p style="color: rgb(156, 186, 199)">
            {{user.email}}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <button (click)="deleteUser(user.id)" class="btn btn-danger">Usuń</button>
      </div>
    </div>
  </li>
</ul>

<pagination-controls (pageChange)="pageChange($event)" [previousLabel]="'Poprzednia strona'" [nextLabel]="'Następna strona'"
  [autoHide]="autoHide" [responsive]="responsive"></pagination-controls>