<div *ngIf="isSignedUp; else signupForm">
  Rejestracja zakończona sukcesem, możesz się zalogować.
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <!-- <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div> -->
      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Podaj nazwę użytkownika</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">Email jest w złym formacie</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6"
        />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">Hasło musi zawierać przynajmniej 6 znaków</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Zarejestruj się</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Rejestracja nie powiodła się
          <br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>